body {
  margin: 0;
  padding: 0;
  background-color: #36474f;
}
h1 {
  text-align: center;
  margin-top: 50px;
  color: white;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
hr {
  width: 665px;
  margin: 20px 0;
  border: 1px solid #fff;
}
.up-box {
  width: 80px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  margin-left: -588px;
}
.center-boxes {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  padding: 0px 12%;
}
.box-1 {
  width: 80px;
  height: 30px;
  background-color: green;
  border-radius: 5px;
  margin-right: 3%;
}
.box-2 {
  width: 80px;
  height: 30px;
  background-color: blue;
  border-radius: 5px;
  margin-right: 3%;
}
.box-3 {
  width: 80px;
  height: 30px;
  background-color: yellow;
  border-radius: 5px;
  margin-right: 3%;
}
.box-4 {
  width: 80px;
  height: 30px;
  background-color: rgb(252, 198, 178);
  border-radius: 5px;
  margin-right: 3%;
}
.down-box {
  width: 80px;
  height: 30px;
  background-color: plum;
  border-radius: 5px;
  margin-left: 42%;
}
button {
  padding: 13px 40px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s, transform 0.3s, border 0.3s;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.btn-1 {
  margin-right: 10px;
}
.btn-2 {
  margin-left: 10px;
}
.starat-btn {
  background-color: #4caf50;
  border-radius: 0px 25px 0px 25px;
}
.stop-btn {
  background-color: #f44336;
  border-radius: 25px 0px 25px 0px;
}
.starat-btn:hover {
  background-color: #117616;
  transform: scale(1.1);
  border: 1px solid #00ff0d;
}
.stop-btn:hover {
  background-color: #b71c1c;
  transform: scale(1.1);
  border: 1px solid #ff0000;
}
